@{
    ViewData["Title"] = "Home Page";
}

<app>
    <div class="spinner-container">
        <div class="spinner-content">
            <div class="circle"></div>
            <div class="circle1"></div>
        </div>
    </div>
</app>


@section scripts {
    <script src="~/ClientApp/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/ClientApp/dist/main-client.js" asp-append-version="true"></script>
}
